body {
	background-color: #111;
	margin: 0;
	padding: 15px;
	scroll-behavior: smooth;
}

canvas {
	background-color: #fff1;
}

#maindiv {
	overflow-x: scroll;
}

::-webkit-scrollbar {
	visibility: hidden;
}